.otpInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.otpInput {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  margin-right: 10px;
}
